* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy-Regular.ttf") format("ttf");
}


body {
    font-family: 'Gilroy', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif', serif;
}

hr {
    width: 100%;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}


